
{% block head %}
<style type="text/css">
#myMap {
height: 800px;
width: 1200px;
}	
</style>
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css" integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
		crossorigin=""/>
<script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js" integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
                        crossorigin=""></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
{% endblock %}

{% block content %}
<div id="myMap"></div>
<script>
	var mymap = L.map('myMap').setView([40.785091,-73.968285], 14);
	L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
		attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
	}).addTo(mymap);
	var myItems={{ myItems }};
        for (var i=0; i<myItems.length; i++) {
		var longitude = myItems[i][0];
		var latitude = myItems[i][1];
		var markerloc = new L.LatLng(latitude, longitude);
		var marker = new L.Marker(markerloc);
		mymap.addLayer(marker);
	}
	var popup = L.popup();
	function ClickMap(e) {
		popup
			.setLatLng(e.latlng)
			.setContent("You clicked the map at " + e.latlng.toString())
			.openOn(mymap);
	}
	mymap.on('click', ClickMap);
</script>
{% endblock %}
