
{% block content %}
<table>
    <tr>
        <th style="height: 150px; background-color: pink;">Unique Squirrel ID</th>
        <th style="height: 150px; background-color: blue);">Age</th>
        <th style="height: 150px; background-color: yellow;">Primary Fur Color</th>
        <th style="height: 150px; background-color: red;">Latitude</th>
        <th style="height: 150px; background-color:  green;">Longitude</th>
        <th style="height: 150px; background-color: orange;">Location</th>
    </tr>
    {% for item in s %}
    <tr>
     <td style="width: 120px; background-color: lightblue">{{ item.Unique_Squirrel_ID }}</td>
        <td style="width: 120px; background-color: white">{{ item.Age }}</td>
        <td style="width: 120px; background-color: lightblue">{{ item.Primary_Fur_Color }}</td>
        <td style="width: 120px; background-color: white">{{ item.Latitude }}</td>
        <td style="width: 120px; background-color: lightblue">{{ item.Longitude }}</td>
        <td style="width: 120px; background-color: white">{{ item.Other_Activities }}</td>
    </tr>
    {% endfor %}
</table>
{% endblock %}
